.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.banner {
  height: 351px;
  background-color: #333;
}

.banner .container {
  padding: 0px;
  max-width: 100%;
}

.img-circle {
  height: 350px;
  float: left;
}

.about {
  color: #449FDB;
  text-align: right;
  font-size: large;
}

.navbar {
  background-color: #04BFCC;
  border-radius: 0px;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.notice {
  text-align: center;
  font-size: large;
  font-weight: bolder;
}
